.dart_tool/

.packages
.pub/
.vscode
**/.DS_Store
*.iml
**/build/
.gradle/
.idea/
local.properties
**/.project
**/.settings
**/.classpath
**/bin/
**/.project
coverage/
reports/
pubspec_overrides.yaml
.env
google-services.json
GoogleService-Info.plist
tests.output
.scannerwork/
