name: rudder_sdk_flutter_monorepo
version: 4.0.0
description: The RudderStack Flutter SDK Monorepo.
homepage: https://github.com/rudderlabs/rudder-sdk-flutter
repository: https://github.com/rudderlabs/rudder-sdk-flutter
issue_tracker: https://github.com/rudderlabs/rudder-sdk-flutter/issues
documentation: https://docs.rudderstack.com/rudderstack-sdk-integration-guides/rudderstack-flutter-sdk

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

environment:
  sdk: '>=2.17.6 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  rudder_sdk_flutter: 2.10.0
  rudder_integration_amplitude_flutter: 2.0.0
  rudder_integration_firebase_flutter: 3.0.0
  rudder_integration_braze_flutter: 2.0.0
  rudder_integration_appcenter_flutter: 2.0.0
  rudder_integration_appsflyer_flutter: 1.1.14
  rudder_integration_adjust_flutter: 2.0.0
  rudder_integration_leanplum_flutter: 2.0.0
  rudder_integration_kochava_flutter: 2.0.0
  flutter_plugin_tools: ^0.12.1


dev_dependencies:
  dart_pre_commit: ^4.0.0
  flutter_lints: ^2.0.1
  dart_code_metrics: ^5.7.6
  watcher: ^1.1.0

dart_pre_commit:
  format: true
  test-imports: false
  lib-exports: false
  flutter-compat: false
  outdated: false
  pull-up-dependencies: false
  analyze:
    error-level: info
    scan-mode: staged
