name: rudder_sdk_flutter_monorepo
version: 3.0.1
description: The RudderStack Flutter SDK Monorepo.
homepage: https://github.com/rudderlabs/rudder-sdk-flutter
repository: https://github.com/rudderlabs/rudder-sdk-flutter
issue_tracker: https://github.com/rudderlabs/rudder-sdk-flutter/issues
documentation: https://docs.rudderstack.com/rudderstack-sdk-integration-guides/rudderstack-flutter-sdk

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  rudder_sdk_flutter: 2.3.1
  rudder_integration_amplitude_flutter: 1.0.3
  rudder_integration_firebase_flutter: 2.0.2
  rudder_integration_braze_flutter: 1.0.3
  rudder_integration_appcenter_flutter: 1.1.3
  rudder_integration_appsflyer_flutter: 1.0.0
  rudder_integration_adjust_flutter: 1.0.3
  rudder_integration_leanplum_flutter: 1.0.3
  flutter_plugin_tools: ^0.12.1

dev_dependencies:
  dart_pre_commit: ^4.0.0
  flutter_lints: ^2.0.1
  dart_code_metrics: ^4.17.1
  melos: ^3.0.1

dart_pre_commit:
  format: true
  test-imports: false
  lib-exports: false
  flutter-compat: false
  outdated: false
  pull-up-dependencies: false
  analyze:
    error-level: info
    scan-mode: staged
