name: Build & Code Quality Checks

on:
  pull_request:
    branches: ['develop', 'main']
    types: ['opened', 'reopened', 'synchronize']

jobs:
  build:
    name: Build & Code Quality Checks
    runs-on: macos-latest
    if: startsWith(github.event.pull_request.head.ref, 'release/') != true

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1.3

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          architecture: x64

      - name: Install Melos
        run: |
          dart pub global activate melos 2.9.0

      - name: Setup .env file
        run: |
          cat <<EOF > packages/example/.env
            WRITE_KEY=${{ secrets.TEST_WRITE_KEY }}
            DATA_PLANE_URL=${{ secrets.TEST_DATAPLANE_URL }}
            EOF

      - name: Install dependencies
        run: |
          melos run setup:ci

      - name: Execute quality checks
        run: |
          melos run analyze:ci
          melos run doctor

      - name: Execute build check
        run: |
          melos run build:sdk:all
