name: 'Unit Tests, Coverage & Sonar'

on:
  workflow_dispatch:
  push:
    branches: ['develop', 'main']
  pull_request:
    branches: ['develop', 'main']
    types: ['opened', 'reopened', 'synchronize']

jobs:
  build:
    name: 'Unit Tests, Coverage & Sonar'
    runs-on: ubuntu-latest
    if: startsWith(github.event.pull_request.head.ref, 'release/') != true

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          fetch-depth: 0

      - name: Setup Dart
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c #v1.3

      - name: Setup Java
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Setup Flutter
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e #v2.21.0
        with:
          channel: 'stable'
          architecture: x64

      - name: Setup .env file
        run: |
          cat <<EOF > example/.env
            WRITE_KEY=${{ secrets.TEST_WRITE_KEY }}
            DATA_PLANE_URL=${{ secrets.TEST_DATAPLANE_URL }}
           EOF

      - name: Install Melos
        run: |
          dart pub global activate melos 6.3.3

      - name: Install dependencies
        run: |
          melos run setup:ci

      - name: Execute unit tests
        run: |
          melos run test:all
          melos run analyze:ci

      - name: Combine unit test coverage reports
        run: |
          mkdir coverage
          touch coverage/lcov.info
          melos run combine:coverage

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602  #v6.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
